
src/.vs/GNU MO File Editor/FileContentIndex/92f273b9-9d81-4748-a464-841b0d3f423d.vsidx
src/.vs/GNU MO File Editor/FileContentIndex/4d7bb8af-bdb2-4f50-bb43-968ccc87478c.vsidx
src/.vs/GNU MO File Editor/FileContentIndex/read.lock
src/.vs/GNU MO File Editor/v17/.suo
src/GNU MO File Editor/bin/Debug/GNU MO File Editor.pdb
src/GNU MO File Editor/bin/Debug/GNU MO File Editor.exe
src/GNU MO File Editor/bin/Release/GNU MO File Editor.exe
src/GNU MO File Editor/bin/Release/GNU MO File Editor.pdb
src/GNU MO File Editor/GNU MO File Editor.csproj.user
src/GNU MO File Editor/obj/Debug/DesignTimeResolveAssemblyReferences.cache
src/GNU MO File Editor/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
src/GNU MO File Editor/obj/Debug/GNU MO File Editor.csproj.AssemblyReference.cache
src/GNU MO File Editor/obj/Debug/GNU MO File Editor.csproj.CoreCompileInputs.cache
src/GNU MO File Editor/obj/Debug/GNU MO File Editor.csproj.FileListAbsolute.txt
src/GNU MO File Editor/obj/Debug/GNU MO File Editor.csproj.GenerateResource.cache
src/GNU MO File Editor/obj/Debug/GNU MO File Editor.exe
src/GNU MO File Editor/obj/Debug/GNU MO File Editor.pdb
src/GNU MO File Editor/obj/Debug/GNU_MO_File_Editor.Main.resources
src/GNU MO File Editor/obj/Debug/GNU_MO_File_Editor.Properties.Resources.resources
src/GNU MO File Editor/obj/Release/DesignTimeResolveAssemblyReferences.cache
src/GNU MO File Editor/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
src/GNU MO File Editor/obj/Release/GNU MO File Editor.csproj.AssemblyReference.cache
src/GNU MO File Editor/obj/Release/GNU MO File Editor.csproj.CoreCompileInputs.cache
src/GNU MO File Editor/obj/Release/GNU MO File Editor.csproj.FileListAbsolute.txt
src/GNU MO File Editor/obj/Release/GNU MO File Editor.csproj.GenerateResource.cache
src/GNU MO File Editor/obj/Release/GNU MO File Editor.exe
src/GNU MO File Editor/obj/Release/GNU MO File Editor.pdb
src/GNU MO File Editor/obj/Release/GNU_MO_File_Editor.Main.resources
src/GNU MO File Editor/obj/Release/GNU_MO_File_Editor.Properties.Resources.resources
src/GNU MO File Editor/bin/Debug/export.txt
src/.vs/GNU MO File Editor/FileContentIndex/dedecc87-9024-45e0-80d8-c893ab2a3137.vsidx
src/.vs/GNU MO File Editor/FileContentIndex/5f267cbf-ed64-4165-abb6-ec923ebebbbc.vsidx
